@charset "UTF-8";

/*color*/
$blue: #00aaFF;
$blue-h: #0077FF;
$green: #00dd00;
$green-h: #00aa00;
$red: #ff0000;
$orange: #ff9900;
$orange-h: #ff6600;
$white: #ffffff;
$black: #000000;
$black3: #333333;
$black6: #666666;
$black9: #999999;
$black-c: #cccccc;
$black-d: #dddddd;
$black-e: #eeeeee;

/*font-size*/
$ft-12: 12px;
$ft-14: 14px;
$ft-16: 16px;
$ft-18: 18px;
$ft-20: 20px;
$ft-22: 22px;
$ft-24: 24px;
$ft-26: 26px;
$ft-28: 28px;
$ft-30: 30px;

/*layout*/
$fill: 100%;

$inputH:30px;
$inputLH:30px;

