/*color*/
/*font-size*/
/*layout*/
/*color*/
/*font-size*/
/*layout*/
.corner, button, input, select, .login-box, .register-box, .find-pwd-box {
  border-radius: 5px; }

a {
  color: #00aaFF; }

.no-outline:focus, input:focus, select:focus, button:focus, .no-outline:active, input:active, select:active, button:active {
  outline: none; }

button {
  color: #00aaFF;
  border: 1px #ffffff solid;
  background-color: #ffffff;
  padding: 7px 30px;
  cursor: pointer; }
  button.blue, button:hover, .login-box button, .register-box button, .find-pwd-box button {
    border-color: #00aaFF;
    background-color: #00aaFF;
    color: #ffffff; }
    button.blue:hover, button:hover {
      background-color: #0077FF;
      border-color: #0077FF; }

.fl {
  float: left; }

.fr {
  float: right; }

.dis-block {
  display: block; }

.dis-inline-block {
  display: inline-block; }

.piz-rel {
  position: relative; }

.piz-abs, .footer {
  position: absolute; }

.piz-def {
  position: static; }

.box-border, input, select, .login-box, .register-box, .find-pwd-box {
  box-sizing: border-box; }

.txt-blue {
  color: #00aaFF; }

.txt-red {
  color: #ff0000; }

.txt-org {
  color: #ff9900; }

.txt-green {
  color: #00dd00; }

.txt-3 {
  color: #333333; }

.txt-6 {
  color: #666666; }

.txt-9 {
  color: #999999; }

.txt-l {
  text-align: left; }

.txt-r {
  text-align: right; }

.txt-c, .login-box .title, .register-box .title, .find-pwd-box .title, .footer {
  text-align: center; }

/*margin-top*/
mgt-0 {
  margin-top: 0; }

.mgt-10 {
  margin-top: 10px; }

.mgt-20 {
  margin-top: 20px; }

.mgt-30 {
  margin-top: 30px; }

.mgt-40 {
  margin-top: 40px; }

.mgt-50 {
  margin-top: 50px; }

/*margin-bottom*/
.mgb-0 {
  margin-bottom: 0; }

.mgb-10 {
  margin-bottom: 10px; }

.mgb-20 {
  margin-bottom: 20px; }

.mgb-30 {
  margin-bottom: 30px; }

.mgb-40 {
  margin-bottom: 40px; }

.mgb-50 {
  margin-bottom: 50px; }

/*margin-left*/
.mgl-0 {
  margin-left: 0; }

.mgl-10 {
  margin-left: 10px; }

.mgl-20 {
  margin-left: 20px; }

.mgl-30 {
  margin-left: 30px; }

.mgl-40 {
  margin-left: 40px; }

.mgl-50 {
  margin-left: 50px; }

/*margin-right*/
.mgr-0 {
  margin-right: 0; }

.mgr-10 {
  margin-right: 10px; }

.mgr-20 {
  margin-right: 20px; }

.mgr-30 {
  margin-right: 30px; }

.mgr-40 {
  margin-right: 40px; }

.mgr-50 {
  margin-right: 50px; }

/*padding-top*/
.pdt-0 {
  padding-top: 0; }

.pdt-10 {
  padding-top: 10px; }

.pdt-20 {
  padding-top: 20px; }

.pdt-30 {
  padding-top: 30px; }

.pdt-40 {
  padding-top: 40px; }

.pdt-50 {
  padding-top: 50px; }

/*padding-bottom*/
.pdb-0 {
  padding-bottom: 0; }

.pdb-10 {
  padding-bottom: 10px; }

.pdb-20, .login-box .title, .register-box .title, .find-pwd-box .title {
  padding-bottom: 20px; }

.pdb-30 {
  padding-bottom: 30px; }

.pdb-40 {
  padding-bottom: 40px; }

.pdb-50 {
  padding-bottom: 50px; }

/*padding-left*/
.pdl-0 {
  padding-left: 0; }

.pdl-10 {
  padding-left: 10px; }

.pdl-20 {
  padding-left: 20px; }

.pdl-30 {
  padding-left: 30px; }

.pdl-40 {
  padding-left: 40px; }

.pdl-50 {
  padding-left: 50px; }

/*padding-right*/
.pdr-0 {
  padding-right: 0; }

.pdr-10 {
  padding-right: 10px; }

.pdr-20 {
  padding-right: 20px; }

.pdr-30 {
  padding-right: 30px; }

.pdr-40 {
  padding-right: 40px; }

.pdr-50 {
  padding-right: 50px; }

.row {
  display: block;
  margin: 20px auto; }

.layui-layer-content {
  text-align: left; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/mbuntu-2.jpg");
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden; }

input, select {
  width: 100%;
  border: 1px #ffffff solid;
  height: 30px;
  line-height: 30px;
  padding: 0 10px; }
  input:focus, input:active, select:focus, select:active {
    outline: none; }

.login-box, .register-box, .find-pwd-box {
  padding: 20px 30px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px 3px #aaa; }
  .login-box select, .register-box select, .find-pwd-box select {
    cursor: pointer; }
    .login-box select option, .register-box select option, .find-pwd-box select option {
      color: #666666;
      padding: 5px; }
  .login-box button, .register-box button, .find-pwd-box button {
    width: 100%; }
  .login-box .title, .register-box .title, .find-pwd-box .title {
    font-size: 16px;
    color: #ffffff;
    margin: -20px 0 30px 0;
    border-bottom: 1px #00aaFF solid; }

.login-box {
  margin: 12% auto; }

.footer {
  color: #ffffff;
  bottom: 30px;
  width: 100%; }

@media screen and (max-width: 1920px) {
  .register-box {
    margin: 160px auto; }

  .find-pwd-box {
    margin: 250px auto; } }
@media screen and (max-width: 1366px) {
  .register-box {
    margin: 40px auto; }

  .find-pwd-box {
    margin: 100px auto; } }
.home-content {
  width: 1200px;
  margin: 30px auto; }

/*# sourceMappingURL=style.css.map */
